/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body, .center, .center-title, input, p-button {
  font-family: 'Poppins', sans-serif;
}