.center {
  display: grid;
  place-items: center;
  height: 100vh;
}
.center-title {
  text-align: center;
}
.content-spacing-vertical {
  margin-top: 1.3rem;
}
.content-spacing-vertical-05 {
  margin-top: 0.5rem;
}
.content-spacing-horizontal {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.card-color {
  background-color: #1A1D21;
  font-family: 'Poppins', sans-serif;
  padding-left: 2rem;   /* aumenta da 1.5rem a 2rem */
  padding-right: 2rem;
}

.buttons-row {
  display: flex;
  width: 100%;          /* tutta la larghezza disponibile della card */
  justify-content: space-between; /* Login a sinistra, Register a destra */
}
.center-title {
  text-align: center;
}
.same-width-button {
  width: 48%;           /* stessa larghezza per entrambi */
  min-width: 100px;     /* larghezza minima per non diventare troppo piccoli */
}

.button-container {
  width: 100%;
}

::ng-deep .full-width-btn {
  width: 100%;
}

::ng-deep .full-width-btn .p-button {
  width: 100%;
}

::ng-deep .button-login-color.p-button {
  background-color: #005B41 !important;
  border-color: #005B41 !important;
  color: white !important;
}

::ng-deep .button-register-color.p-button {
  background-color: #183D3D !important;
  border-color: #183D3D !important;
  color: white !important;
}

.card-header {
  display: flex;
  align-items: center;
   margin-top: 0.5rem;
}

.header-slot {
  width: 40px; 
  display: flex;
  justify-content: center;
   margin-top: 0.5rem;
  
}
.header-slot p-button {
  margin-right: 2.4rem; /* spaziatura a destra se serve */
  color: #183D3D !important;
}


.header-title {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

